@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;700;900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
body .container {
  padding: 0px;
}
body .red-tag {
  color: #f94d1c;
  font-size: 18px;
}
body h2 {
  font-size: 45px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
body h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
body a {
  cursor: pointer;
}
body .social-media {
  display: flex;
  gap: 15px;
  min-width: content;
  scale: 85%;
}
body .social-media i:hover {
  color: rgb(139, 139, 139);
  cursor: pointer;
}
body .rounded-button {
  background-color: transparent;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 23px 30px;
  gap: 15px;
  border-radius: 25px;
  height: 40px;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid black;
}
body .circle-button {
  background-color: transparent;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 25px;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  padding: 25px;
}
body .circle-button:hover {
  background-color: black;
  color: white;
}
body .rounded-button:hover {
  background-color: black;
  color: white;
}
body .black-button {
  background-color: black;
  color: white;
}
body .black-button:hover {
  background-color: white;
  color: black;
}
body .orange-button {
  background-color: #f9d783;
  border-color: #f9d783;
}
body .orange-button:hover {
  background-color: rgb(255, 94, 0);
  color: white;
}
body .center-content {
  display: flex;
  justify-content: center;
}
body .gallery-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #C3AB71;
  margin-top: 30px;
  margin-bottom: 30px;
}
body .gallery-current {
  color: #191919;
}
body header {
  background-color: #F0EFE9;
  padding: 16px;
  display: flex;
  align-items: center;
}
body header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  body header .container .menu-bars {
    display: none;
  }
}
body header .container .header-menu {
  display: none;
  width: 80%;
}
@media (min-width: 992px) {
  body header .container .header-menu {
    display: block;
  }
}
body header .container .header-menu .top-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #DAD9D3;
  padding-bottom: 10px;
  flex: 1;
}
body header .container .header-menu .top-row .contact {
  font-size: 15px;
  font-weight: 300;
  color: rgb(82, 82, 82);
  display: flex;
  gap: 30px;
}
body header .container .header-menu .top-row .contact div {
  border-right: 1px solid #DAD9D3;
  padding-right: 30px;
}
body header .container .header-menu .top-row .contact div.contact-last {
  border: none;
}
body header .container .header-menu .top-row .contact div i {
  font-size: 1.2em;
}
body header .container .header-menu .top-row .social-media a {
  color: #191919;
}
body header .container .header-menu .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  font-family: "Inter", sans-serif;
}
body header .container .header-menu .bottom-row a.rounded-button:hover {
  color: white;
}
body header .container .header-menu .bottom-row .navigation {
  display: flex;
  gap: 25px;
}
body header .container .header-menu .bottom-row .navigation a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}
body header .container .header-menu .bottom-row .navigation a.active {
  font-weight: 500;
}
body header .container .header-menu .bottom-row .navigation a.active::after, body header .container .header-menu .bottom-row .navigation a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: black;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
body header .container .header-menu .bottom-row .navigation a:hover {
  color: rgb(139, 139, 139);
}
body footer {
  background-color: #0E1021;
  color: #FDFDFE;
}
body footer .footer-top {
  position: relative;
  border-bottom: 1px solid #333543;
}
body footer .footer-top .footer-image {
  position: absolute;
  right: 0;
  bottom: 0;
}
body footer .footer-top .container {
  padding: 100px 0px;
  display: flex;
  align-items: start;
  gap: 50px;
  justify-content: space-between;
}
@media (max-width: 992px) {
  body footer .footer-top .container {
    flex-wrap: wrap;
    padding: 50px 0px;
  }
}
body footer .footer-top .container .footer-text {
  width: 23%;
}
body footer .footer-top .container .footer-text img {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  body footer .footer-top .container .footer-text {
    width: 100%;
  }
}
@media (max-width: 429px) {
  body footer .footer-top .container .footer-text {
    width: 90%;
    margin: auto;
  }
}
body footer .footer-top .container .footer-item {
  gap: 20px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  body footer .footer-top .container .footer-item {
    width: 45%;
    gap: 0px;
    align-items: center;
  }
}
@media (max-width: 429px) {
  body footer .footer-top .container .footer-item {
    width: 90%;
    margin: auto;
    gap: 0px;
    align-items: center;
  }
}
body footer .footer-top .container .footer-item h3 {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  body footer .footer-top .container .footer-item h3 {
    margin-bottom: 15px;
  }
}
body footer .footer-top .container .footer-item a {
  font-family: inter;
  font-size: 16px;
  font-weight: 300;
}
body footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 429px) {
  body footer .footer-bottom {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 992px) {
  body footer .footer-bottom .social-media {
    margin-top: 15px;
    scale: 150%;
  }
}
body footer .footer-bottom .social-media a {
  color: #FFFFFF;
}
body .showcase {
  background-color: #F0EFE9;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
body .showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
@media (max-width: 429px) {
  body .showcase .container {
    max-width: 90%;
  }
}
@media (max-width: 429px) {
  body .showcase .container .showcase-left .showcase-top {
    padding-top: 80px;
    font-size: 50px;
    text-align: center;
  }
}
body .showcase .container .showcase-left .showcase-top h1 {
  font-weight: 700;
  font-size: 80px;
}
@media (max-width: 992px) {
  body .showcase .container .showcase-left .showcase-top h1 {
    font-size: 60px;
  }
}
@media (max-width: 429px) {
  body .showcase .container .showcase-left .showcase-top h1 {
    font-size: 50px;
  }
}
body .showcase .container .showcase-left .showcase-top div {
  font-size: 18px;
}
body .showcase .container .showcase-left .showcase-bottom {
  display: flex;
  align-content: end;
  justify-content: start;
  gap: 15px;
  padding-top: 50px;
}
@media (max-width: 992px) {
  body .showcase .container .showcase-left .showcase-bottom {
    padding-bottom: 50px;
  }
}
@media (max-width: 429px) {
  body .showcase .container .showcase-left .showcase-bottom {
    justify-content: center;
    padding-bottom: 80px;
    flex-wrap: wrap;
  }
}
body .showcase .container #man-with-tablet {
  padding-top: 50px;
}
@media (max-width: 992px) {
  body .showcase .container #man-with-tablet {
    display: none;
  }
}
body .showcase #swirly-background-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
body .partners {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 0px;
  flex-wrap: wrap;
}
body .features {
  padding: 70px 0px;
  border: 2px solid #F0EFE9;
  border-radius: 5px;
  width: 75%;
  margin: auto;
}
@media (max-width: 429px) {
  body .features {
    width: 90%;
  }
}
body .features .container {
  display: flex;
  justify-content: space-evenly;
  gap: 150px;
}
@media (max-width: 992px) {
  body .features .container {
    flex-wrap: wrap;
    width: 90%;
    gap: 50px;
  }
}
body .features .container .features-left {
  width: 30%;
}
@media (max-width: 992px) {
  body .features .container .features-left {
    width: 90%;
  }
}
body .features .container .features-left h2 {
  padding-bottom: 30px;
}
@media (max-width: 429px) {
  body .features .container .features-left h2 {
    font-size: 40px;
  }
}
body .features .container .features-left button {
  width: 100%;
  font-size: 16px;
}
body .features .container .features-right {
  padding-top: 25px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 992px) {
  body .features .container .features-right {
    width: 100%;
    padding-top: 0px;
    justify-content: center;
  }
}
body .features .container .features-right div {
  width: 40%;
  font-size: 16px;
}
@media (max-width: 992px) {
  body .features .container .features-right div {
    width: 100%;
  }
}
@media (max-width: 429px) {
  body .features .container .features-right div {
    text-align: center;
  }
}
body .features .container .features-right div i {
  padding-bottom: 20px;
  font-size: 25px;
}
body .features .container .features-right div h3 {
  font-size: 20px;
  font-weight: 700;
}
body .about {
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
  padding: 50px;
}
@media (max-width: 992px) {
  body .about {
    flex-wrap: wrap;
  }
}
body .about .about-image {
  height: 615px;
  background-size: cover;
  background-position: 50% 50%;
  width: 45%;
  position: relative;
}
@media (max-width: 992px) {
  body .about .about-image {
    width: 90%;
  }
}
body .about .about-image .about-quote {
  background-color: #BEEBFF;
  width: 368px;
  height: 160px;
  position: absolute;
  bottom: 40px;
  left: -40px;
  padding: 20px;
}
@media (max-width: 429px) {
  body .about .about-image .about-quote {
    left: -30px;
    width: 120%;
  }
}
body .about .about-image .about-quote .about-quote-top {
  display: flex;
  font-weight: 700;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}
body .about .about-image .about-quote .about-quote-top .founder-name {
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 429px) {
  body .about .about-image .about-quote .about-quote-top .founder-name {
    font-size: 16px;
  }
}
body .about .about-image .about-quote .about-quote-top .red-tag {
  font-size: 18px;
}
@media (max-width: 429px) {
  body .about .about-image .about-quote .about-quote-top .red-tag {
    font-size: 14px;
  }
}
body .about .about-image .about-quote .about-quote-bottom {
  font-size: 16px;
}
@media (max-width: 429px) {
  body .about .about-image .about-quote .about-quote-bottom {
    font-size: 12px;
  }
}
body .about .about-image .swirly-lines {
  position: absolute;
  top: 40px;
  left: -20px;
  width: 40%;
}
body .about .about-company {
  width: 45%;
}
@media (max-width: 992px) {
  body .about .about-company {
    width: 90%;
  }
}
body .about .about-company .text {
  font-size: 16px;
  display: flex;
}
body .about .about-company .about-buttons {
  padding-top: 50px;
  display: flex;
  gap: 25px;
}
@media (max-width: 992px) {
  body .about .about-company .about-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
}
body .about .about-company .about-buttons a {
  height: 50px;
}
body .about .about-company .about-buttons .play-video {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #191919;
}
body .about .about-company .about-buttons .play-video:hover .circle-button {
  background-color: black;
  color: white;
}
body .about .about-company .about-buttons .play-video:hover div {
  text-decoration: underline;
}
body .our-services {
  background-color: #F0EFE9;
  padding: 100px 300px;
  position: relative;
}
@media (max-width: 992px) {
  body .our-services {
    padding: 40px 85px;
  }
}
@media (max-width: 429px) {
  body .our-services {
    padding: 20px 40px;
  }
}
body .our-services img {
  position: absolute;
  bottom: 0;
  right: 0;
}
body .our-services .services-top {
  width: 40%;
}
@media (max-width: 992px) {
  body .our-services .services-top {
    width: 100%;
    padding-left: 0px;
  }
}
body .our-services .services-middle {
  display: flex;
  justify-content: space-between;
  gap: 50px 0px;
  padding: 50px 0px;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  body .our-services .services-middle {
    flex-wrap: wrap;
  }
}
body .our-services .services-middle .services-item {
  width: 308px;
  height: 333px;
  padding: 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
body .our-services .services-middle .services-item.services-item:hover {
  background-color: #F9D783;
}
body .our-services .services-middle .services-item.services-item:hover a {
  background-color: #FFFFFF;
  color: black;
}
body .our-services .services-middle .services-item p {
  height: 30%;
}
body .our-services .services-middle .services-item .services-button-space {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: end;
  justify-content: end;
  padding-top: 20px;
}
body .our-services .services-middle .services-item .services-button-space a {
  font-size: 20px;
}
body .our-services .services-middle .services-item .fa-horizontal-rule {
  font-size: 30px;
  padding-bottom: 20px;
}
body .our-services .services-bottom {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  body .our-services .services-bottom {
    padding-bottom: 20px;
  }
}
@media (max-width: 429px) {
  body .our-services .services-bottom {
    padding-bottom: 40px;
  }
}
body .our-services .services-bottom button {
  z-index: 1;
}
body .why-choose-us {
  overflow: hidden;
}
body .why-choose-us .container {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding-top: 88px;
  position: relative;
}
@media (max-width: 992px) {
  body .why-choose-us .container {
    flex-direction: column;
    justify-content: center;
  }
}
body .why-choose-us .container .background {
  position: absolute;
  right: -300px;
  bottom: 0px;
  width: 1057px;
  height: 425px;
  background-color: #F0EFE9;
  z-index: -1;
}
@media (max-width: 992px) {
  body .why-choose-us .container .background {
    display: none;
  }
}
body .why-choose-us .container .why-choose-us-left {
  width: 35%;
  gap: 30px;
}
@media (max-width: 992px) {
  body .why-choose-us .container .why-choose-us-left {
    width: 60%;
    margin: auto;
    justify-content: center;
  }
  body .why-choose-us .container .why-choose-us-left h2 {
    padding-bottom: 20px;
  }
}
@media (max-width: 429px) {
  body .why-choose-us .container .why-choose-us-left {
    width: 70%;
    margin: auto;
    justify-content: center;
  }
}
body .why-choose-us .container .why-choose-us-left .why-choose-us-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}
@media (max-width: 992px) {
  body .why-choose-us .container .why-choose-us-left .why-choose-us-item {
    justify-content: center;
  }
}
body .why-choose-us .container .why-choose-us-left .why-choose-us-item p {
  color: #767676;
}
body .why-choose-us .container .why-choose-us-left .why-choose-us-item i {
  border: 1px solid black;
  border-color: #F0EFE9;
  border-radius: 30px;
  padding: 20px;
  font-size: 20px;
}
body .why-choose-us .container .why-choose-us-right {
  width: 45%;
}
@media (max-width: 992px) {
  body .why-choose-us .container .why-choose-us-right {
    width: 100%;
  }
}
body .why-choose-us .container .why-choose-us-right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 645px;
  height: 505px;
}
@media (max-width: 429px) {
  body .why-choose-us .container .why-choose-us-right img {
    display: none;
  }
}
@media (max-width: 992px) {
  body .why-choose-us .container .why-choose-us-right img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: auto;
  }
}
body .projects .projects-title {
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  body .projects .projects-title {
    padding: 90px;
  }
}
body .projects .projects-title .red-tag {
  margin-bottom: 10px;
}
body .projects .projects-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  body .projects .projects-cases {
    grid-template-columns: 1fr 1fr;
  }
}
body .projects .projects-cases .projects-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
@media (max-width: 429px) {
  body .projects .projects-cases .projects-item {
    width: 90%;
    margin: auto;
  }
}
body .projects .projects-cases .projects-item:hover .read-more {
  text-decoration: underline;
}
body .projects .projects-cases .projects-item img {
  width: 100%;
  height: auto;
}
body .projects .projects-cases .projects-item h3 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
body .projects .projects-cases .projects-item .read-more {
  padding: 15px;
  display: block;
  text-align: right;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
body .projects .projects-cases .projects-item .read-more i {
  margin-left: 3px;
}
body .projects .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}
body .team-testimonial-background {
  background-color: #EDCF87;
  padding-bottom: 120px;
}
@media (max-width: 429px) {
  body .team-testimonial-background {
    padding-bottom: 50px;
  }
}
body .team-testimonial-background .team .team-top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 80px 0px;
}
@media (max-width: 992px) {
  body .team-testimonial-background .team .team-top {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 429px) {
  body .team-testimonial-background .team .team-top {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 992px) {
  body .team-testimonial-background .team .team-top .team-button {
    padding-top: 30px;
  }
}
body .team-testimonial-background .team .team-bottom {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 429px) {
  body .team-testimonial-background .team .team-bottom {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
body .team-testimonial-background .team .team-bottom .team-member {
  width: 23%;
}
@media (max-width: 429px) {
  body .team-testimonial-background .team .team-bottom .team-member {
    width: 45%;
    justify-content: space-evenly;
  }
}
body .team-testimonial-background .team .team-bottom .team-member p {
  color: #767676;
}
body .team-testimonial-background .team .team-bottom .team-member img {
  aspect-ratio: 1/1.37;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}
body .team-testimonial-background .testimonial {
  background-color: #FFFFFF;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 100px;
}
@media (max-width: 992px) {
  body .team-testimonial-background .testimonial {
    padding: 0px;
    align-items: center;
  }
}
@media (max-width: 429px) {
  body .team-testimonial-background .testimonial {
    width: 90%;
  }
}
body .team-testimonial-background .testimonial .testimonial-title {
  padding-bottom: 50px;
  align-items: center;
  text-align: center;
}
@media (max-width: 992px) {
  body .team-testimonial-background .testimonial .testimonial-title {
    padding-top: 50px;
    padding-bottom: 0px;
  }
}
body .team-testimonial-background .testimonial .reviews {
  display: flex;
  padding-bottom: 70px;
}
@media (max-width: 992px) {
  body .team-testimonial-background .testimonial .reviews {
    flex-wrap: wrap;
    width: 80%;
  }
}
body .team-testimonial-background .testimonial .reviews .reviews-item {
  justify-content: start;
  align-items: start;
  padding: 0px 20px;
}
@media (max-width: 992px) {
  body .team-testimonial-background .testimonial .reviews .reviews-item {
    padding-top: 50px;
  }
}
body .team-testimonial-background .testimonial .reviews .reviews-item .stars {
  color: #F94D1C;
}
body .team-testimonial-background .testimonial .reviews .reviews-item .reviews-author {
  display: flex;
}
body .team-testimonial-background .testimonial .reviews .reviews-item .reviews-author div .red-tag {
  font-size: 16px;
}
body .team-testimonial-background .testimonial .reviews .reviews-item .reviews-author img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 45px;
  height: 70px;
  width: 70px;
  padding-right: 10px;
}
@media (max-width: 992px) {
  body .team-testimonial-background .testimonial .center-content {
    padding-bottom: 50px;
  }
}
body .news {
  padding: 60px 0px;
  padding-top: 100px;
}
@media (max-width: 992px) {
  body .news {
    padding: 60px 0px;
  }
}
@media (max-width: 429px) {
  body .news {
    padding: 60px 20px;
  }
}
body .news .news-title {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  body .news .news-title {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
    gap: 20px;
  }
}
body .news .news-articles {
  display: flex;
  gap: 10px;
}
@media (max-width: 992px) {
  body .news .news-articles {
    flex-wrap: wrap;
    justify-content: center;
  }
}
body .news .news-articles .news-item {
  width: 33%;
  position: relative;
  text-decoration: none;
  padding: 10px;
}
body .news .news-articles .news-item.news-item:hover {
  background-color: #F9D783;
}
body .news .news-articles .news-item h3 {
  width: 75%;
  color: #191919;
}
@media (max-width: 992px) {
  body .news .news-articles .news-item h3 {
    width: 100%;
  }
}
body .news .news-articles .news-item p {
  color: #585858;
}
@media (max-width: 429px) {
  body .news .news-articles .news-item .news-category {
    display: none;
  }
}
@media (max-width: 992px) {
  body .news .news-articles .news-item {
    width: 75%;
  }
}
body .news .news-articles .news-item .date-box {
  background-color: #F9D783;
  width: 56px;
  height: 64px;
  position: absolute;
  top: 16px;
  left: 16px;
  padding-top: 12px;
  text-align: center;
}
body .news .news-articles .news-item .date-box strong {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #191919;
}
body .news .news-articles .news-item .date-box p {
  font-size: 16px;
  line-height: 16px;
}
body .news .news-articles .news-item img {
  aspect-ratio: 1.83/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding-bottom: 20px;
}
@media (max-width: 429px) {
  body .news .news-articles .news-item img {
    padding-bottom: 10px;
  }
}
body .signup {
  background-color: #F0EFE9;
  position: relative;
}
body .signup img {
  position: absolute;
  right: 0;
  bottom: 50px;
}
@media (max-width: 429px) {
  body .signup img {
    display: none;
  }
}
body .signup .container {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  body .signup .container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 0px;
  }
}
@media (max-width: 429px) {
  body .signup .container h2 {
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 32px;
  }
}
body .signup .container .signup-input {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 992px) {
  body .signup .container .signup-input {
    margin-top: 20px;
    justify-content: center;
  }
}
@media (max-width: 429px) {
  body .signup .container .signup-input {
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
body .signup .container .signup-input input {
  border-radius: 25px;
  height: 40px;
  padding: 24px;
  border: none;
}
body .sub-header {
  background-color: #F0EFE9;
  position: relative;
}
body .sub-header img {
  position: absolute;
  left: 0px;
  bottom: 0;
}
@media (max-width: 992px) {
  body .sub-header img {
    left: -250px;
  }
}
@media (max-width: 429px) {
  body .sub-header img {
    display: none;
  }
}
body .sub-header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
body .sub-header .container .sub-header-navigation {
  display: flex;
  gap: 25px;
}
body .sub-header .container .sub-header-navigation a {
  text-decoration: none;
  color: black;
}
body .sub-header .container .sub-header-navigation a:hover {
  color: rgb(139, 139, 139);
}
@media (max-width: 429px) {
  body .sub-header .container .sub-header-navigation a {
    display: none;
  }
}
@media (max-width: 429px) {
  body .sub-header .container h2 {
    font-size: 40px;
  }
}
body .contact-background {
  padding-bottom: 110px;
}
@media (max-width: 992px) {
  body .contact-background {
    padding-bottom: 55px;
  }
}
@media (max-width: 429px) {
  body .contact-background {
    padding-bottom: 0px;
  }
}
body .contact-background .contact-boxes .container {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 80px;
}
@media (max-width: 992px) {
  body .contact-background .contact-boxes .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
@media (max-width: 429px) {
  body .contact-background .contact-boxes .container {
    padding: 60px 0px;
  }
}
body .contact-background .contact-boxes .container .contact-item {
  border: 2px solid #efefef;
  padding: 40px 80px;
  padding-top: 60px;
  display: flex;
}
@media (max-width: 1400px) {
  body .contact-background .contact-boxes .container .contact-item {
    padding: 15px 15px;
  }
}
@media (max-width: 992px) {
  body .contact-background .contact-boxes .container .contact-item {
    width: 60%;
  }
}
@media (max-width: 429px) {
  body .contact-background .contact-boxes .container .contact-item {
    width: 90%;
  }
}
body .contact-background .contact-boxes .container .contact-item div {
  margin-left: 25px;
}
@media (max-width: 1400px) {
  body .contact-background .contact-boxes .container .contact-item div {
    margin-left: 15px;
  }
}
body .contact-background .contact-boxes .container .contact-item div strong {
  font-size: 22px;
}
body .contact-background .contact-boxes .container .contact-item div p {
  font-size: 18px;
  margin-top: 15px;
}
body .contact-background .contact-boxes .container .contact-item i {
  background-color: #191919;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  width: 20px;
  height: 20px;
  padding: 30px;
}
body .contact-background .form-background {
  background-color: #F0EFE9;
  padding-top: 120px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  body .contact-background .form-background {
    padding: 60px 0px;
  }
}
body .contact-background .form-background h2 {
  text-align: center;
  width: 35%;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  body .contact-background .form-background h2 {
    width: 70%;
  }
}
@media (max-width: 429px) {
  body .contact-background .form-background h2 {
    font-size: 30px;
  }
}
body .contact-background .form-background form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 80%;
}
body .contact-background .form-background form .input-default {
  width: 100%;
  border-radius: 45px;
  border: none;
  padding-left: 25px;
  height: 56px;
}
body .contact-background .form-background form .input-large {
  padding-top: 15px;
  height: 160px;
  resize: none;
}
body .contact-background .form-background form button {
  margin-top: 28px;
  width: 100%;
}